./ipynb_checkpoints/
.DS_Store
.ipynb_checkpoints/
.pytest_cache/
.vscode/
.venv/
.env/
.env.local/
.env.development.local/
.env.test.local/
.env.production.local/

./outflow1_world/
./outflow2_world/
./outflow3_world/
./outflow4_world/
./outflow5_world/
./outflow6_world/
./outflow7_world/
./outflow8_world/
./outflow9_world/
./outflow10_world/

outflow1_world
outflow2_world
outflow3_world
outflow4_world
outflow5_world
outflow6_world
outflow7_world
outflow8_world
outflow9_world
outflow10_world

./week_1/
./week_2/
./week_3/
./week_8/

week_1  
week_2
week_3
week_8

./demos_and_examples/.ipynb_checkpoints/

./uxsim.egg-info/
uxsim.egg-info/__pycache__/
*.pyc
*.pyo
*.pyd.


./training_data/

training_data/

./training_data/*

training_data/*wandb/
*.wandb

./wandb/
/wandb

./wandb/*
/wandb/*

./out
./out/*

./outsioux_falls
./outsioux_falls/*

outsioux_falls

./networks/bloomington/in_od_main_JT00_2022.csv
networks/bloomington/in_od_main_JT00_2022.csv

./networks/bloomington/bloomington_demand_step_1.csv
./networks/bloomington/bloomington_demand_step_2.csv
./networks/bloomington/bloomington_demand_step_3.csv

networks/bloomington/bloomington_demand_step_1.csv
networks/bloomington/bloomington_demand_step_2.csv
networks/bloomington/bloomington_demand_step_3.csv

./networks/bloomington/tl_2022_18_tabblock20/
./networks/bloomington/tl_2022_18_tabblock20/*

networks/bloomington/tl_2022_18_tabblock20/
networks/bloomington/tl_2022_18_tabblock20/*

./networks/bloomington/blocks_centroids_grid.png
networks/bloomington/blocks_centroids_grid.png

./tmp/
tmp/

./tmp/*
tmp/*

./outbloomington
./outtest
./outsioux_falls

./results_comparison.png
results_comparison.png

plots/results_comparison_transit_center.png
plots/results_comparison_random_initialization.png
plots/designed_routes_compare.png
plots/designed_routes_real.png
plots/designed_routes_rl.png
plots/networks_to_plot/
./plots/networks_to_plot/

.cursor/
.cursor/*

claude_docs/
./claude_docs/

claude_docs/*
./claude_docs/*

second_last_runs/
./second_last_runs/
new_run/
./new_run/

./plots/training_curves.png
plots/training_curves.png